/* HELPERS */

/* PERCENTAGE WIDTH */
.w10{width: 10%;}
.w11{width: 11%;}
.w12{width:12%;}
.w14{width: 14%;}
.w15{width: 15%;}
.w16{width: 16%;}
.w18{width: 18%;}
.w20{width: 20%;}
.w22{width: 22%;}
.w23{width: 23%;}
.w25{width: 25%;}
.w29{width: 29%;}
.w30{width: 30%;}
.w35{width: 35%;}
.w33{width: 33%;}
.w34{width: 34%;}
.w40{width: 40%;}
.w42{width: 42%;}
.w45{width: 45%;}
.w47{width: 47%;}
.w48{width: 48%;}
.w49{width: 49%;}
.w50{width: 50%;}
.w54{width: 54%;}
.w55{width: 55%;}
.w58{width: 58%;}
.w60{width: 60%;}
.w65{width: 65%;}
.w67{width: 67%;}
.w70{width: 70%;}
.w71{width: 71%;}
.w75{width: 75%;}
.w80{width: 80%;}
.w85{width: 85%;}
.w88{width: 88%;}
.w90{width: 90%;}
.w95{width: 95%;}
.w96{width: 96%;}
.w100{width: 100%;}

/* FLOATING */
.left{float: left;}
.right{float: right;}
.clear{clear: both;}

/* FONTS */

/* font size */
.fs10{font-size: 10px;}
.fs11{font-size: 11px;}
.fs12{font-size: 12px;}
.fs13{font-size: 13px;}
.fs14{font-size: 14px;}
.fs15{font-size: 15px;}
.fs16{font-size: 16px;}
.fs18{font-size: 18px;}
.fs19{font-size: 19px;}
.fs20{font-size: 20px;}
.fs22{font-size: 22px;}
.fs24{font-size: 24px;}
.fs25{font-size: 25px;}
.fs26{font-size: 26px;}
.fs28{font-size: 28px;}
.fs29{font-size: 29px;}
.fs30{font-size: 30px;}
.fs32{font-size: 32px;}
.fs36{font-size: 36px;}
.fs40{font-size: 40px;}

/* font color */
.fcw,.fcw:hover,.fcw:active{color: #FFFFFF;}
.fcb,.fcb:hover,.fcb:active{color: #000000;}
.fclg,.fclg:hover,.fclg:active{color: #606366;}
.fcdg,.fcdg:hover,.fcdg:active{color: #1b2127;}
.fcgr,.fcgr:hover,.fcgr:active{color: #606366;}
.fcr,.fcr:hover,.fcr:active{color: #bf191f;}

/* font family */
/*.ffArial{font-family: 'Arial';}*/

/* font weight */
.fwt{font-weight: 300;}
.fwn{font-weight: 400;}
.fwb{font-weight: 700;}

/* font style*/
.fsi{font-style: italic;}
.fsn{font-style: normal;}

/* TEXT */
/*text align */
.tar{text-align: right;}
.tal{text-align: left;}
.taj{text-align: justify;}
.tac{text-align: center;}

/* text transform */
.ttu{text-transform: uppercase;}
/*Line Height*/
.lh10{line-height: 10px}
.lh15{line-height: 15px}
.lh20{line-height: 20px}
.lh25{line-height: 25px}

/* POSITIONS */
.posa{position: absolute;}
.posr{position: relative;}
.poss{position: static;}
.posf{position: fixed;}
.bgp{background-position:0% 50%}

/* DISPLAY */
.dt{display: table;}
.dtr{display: table-row;}
.dtc{display: table-cell;}
.dib{display: inline-block;}
.db{display:block;}
.df{display:flex}

/* VERTICAL ALIGN */
.vat{vertical-align:top;}
.vam{vertical-align: middle;}
.vas{vertical-align: sub;}
.va70{vertical-align: 70%;}
.vab{vertical-align:bottom;}
.vatt{vertical-align:text-top;}

/* BUTTONS */
.btn{
    display: inline-block;
    padding: 5px 7px;
    /*border: 1px solid #9f9f9f;*/
    box-shadow: 0 2px 3px #9a9a9a;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    border-radius: 4px;
    background: #f9f9f9;
    cursor: pointer;
}

.btn_green{
    background: linear-gradient(to bottom, #7cb60d, #7cae24);
    border-width: 1px;
    border-color: #98c640 #98c640 #5c8e00;
}

.btn_green:hover{
    background: linear-gradient(to bottom, #72a90d, #6d9b23);
    border-width: 1px;
    border-color: #87b43a #90be3f #568600;
}

.btn_green:active{
    background: linear-gradient(to bottom, #78b10d, #75a625);
    border-width: 1px;
    border-color: #8fbe3d #96c541 #5e9100;
}

.btn_red{
    background: linear-gradient(to bottom, #b6002d, #920024);
}

.btn_red:hover{
    background: linear-gradient(to bottom, #c6002e, #a50028);
}

.btn_red:active{
    background: linear-gradient(to bottom, #a5002c, #830022);
}

/* DELIMITER */

.delimiter{padding-bottom: 15px;}

/* delimiter color */
.dcg{background: url("../images/dcg.png") repeat-x transparent;}


.delimiter_text{
    background: #fff;
    margin-left: 50px;
    font-size: 14px;
    line-height: 12px;
    top: -2px;
    padding: 0 20px;
}
/* TEXT DECORATION */
.bd{border-bottom: dotted;}

/* MARGIN */
.ma{margin: auto}
.m0{margin: 0}
.m5{margin: 5px;}
.m10{margin: 10px;}
.m15{margin: 15px;}
.m20{margin: 20px;}
/*  margin vertical */
.mv5{margin-top: 5px; margin-bottom: 5px;}
.mv8{margin-top: 8px; margin-bottom: 8px;}
.mv9{margin-top: 9px; margin-bottom: 9px;}
.mv10{margin-top: 10px; margin-bottom: 10px;}
.mv15{margin-top: 15px; margin-bottom: 15px;}
.mv20{margin-top: 20px; margin-bottom: 20px;}
.mv30{margin-top: 30px; margin-bottom: 30px;}
.mv40{margin-top: 40px; margin-bottom: 40px;}
.mv45{margin-top: 45px; margin-bottom: 45px;}
.mv50{margin-top: 50px; margin-bottom: 50px;}
/* margin horizontal */
.mh5{margin-right: 5px; margin-left: 5px;}
.mh10{margin-right: 10px; margin-left: 10px;}
.mh15{margin-right: 15px; margin-left: 15px;}
.mh16{margin-right: 16px; margin-left: 16px;}
.mh20{margin-right: 20px; margin-left: 20px;}
.mh30{margin-right: 30px; margin-left: 30px;}
.mh45{margin-right: 45px; margin-left: 45px;}
.mh70{margin-right: 70px; margin-left: 70px;}
/*margin top*/
.mt5{margin-top:5px}
.mt7{margin-top:7px}
.mt10{margin-top:10px}
.mt12{margin-top:12px}
.mt13{margin-top:13px}
.mt15{margin-top:15px}
.mt20{margin-top:20px}
.mt25{margin-top:25px}
.mt30{margin-top:30px}
.mt35{margin-top:35px}
.mt40{margin-top:40px}
.mt45{margin-top:45px}
.mt50{margin-top:50px}
.mt60{margin-top:60px}
.mt80{margin-top:80px}
/* margin-bottom */
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.mb25{margin-bottom:25px;}
.mb40{margin-bottom:40px;}
.mb45{margin-bottom:45px;}
.mb75{margin-bottom:75px;}
.mb130{margin-bottom:130px;}
/*margin-left*/
.ml5{margin-left:5px}
.ml10{margin-left:10px}
.ml15{margin-left:15px}
.ml20{margin-left:20px}
.ml25{margin-left:25px}
.ml30{margin-left:30px}
.ml35{margin-left:35px}
.ml40{margin-left:40px}
.ml45{margin-left:45px}
.ml50{margin-left:50px}
.ml55{margin-left:55px}
.ml60{margin-left:60px}
.ml65{margin-left:65px}
.ml70{margin-left:70px}
.ml75{margin-left:75px}
.ml80{margin-left:80px}
.ml85{margin-left:85px}
.ml240{margin-left:240px}
/*margin right*/
.mr10{margin-right:10px}
.mr15{margin-right:15px}
.mr17{margin-right: 17px;}
.mr20{margin-right:20px}
.mr25{margin-right:25px}
.mr30{margin-right:30px}
.mr40{margin-right:40px}
.mr45{margin-right:45px}
.mr50{margin-right:50px}
.mr55{margin-right:55px}
.mr60{margin-right:60px}
.mr65{margin-right:65px}

/* PADDING */
.p5{padding: 5px;}
.p8{padding: 8px;}
.p10{padding: 10px;}
.p16{padding: 16px;}
.p20{padding: 20px;}
.p30{padding: 30px;}
/*padding vertical*/
.pv1{padding-top:1px; padding-bottom:1px}
.pv2{padding-top:2px; padding-bottom:2px}
.pv5{padding-top:5px; padding-bottom:5px}
.pv7{padding-top:7px; padding-bottom:7px}
.pv8{padding-top:8px; padding-bottom:8px}
.pv10{padding-top:10px; padding-bottom:10px}
.pv11{padding-top:11px; padding-bottom:11px}
.pv15{padding-top:15px; padding-bottom:15px}
.pv45{padding-top:45px; padding-bottom:45px}
/*padding horizontal*/
.ph5{padding-left:5px; padding-right:5px}
.ph10{padding-left:10px; padding-right:10px}
.ph14{padding-left:14px; padding-right:14px}
.ph15{padding-left:15px; padding-right:15px}
.ph19{padding-left:19px; padding-right:19px}
.ph20{padding-left:20px; padding-right:20px}
.ph22{padding-left:22px; padding-right:22px}
.ph25{padding-left:25px; padding-right:25px}
.ph27{padding-left:27px; padding-right:27px}
.ph30{padding-left:35px; padding-right:30px}
.ph35{padding-left:35px; padding-right:35px}
.ph40{padding-left:40px; padding-right:40px}
/*padding top*/
.pt5{padding-top:5px;}
.pt7{padding-top:7px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pt30{padding-top:30px;}
.pt35{padding-top:35px;}
.pt40{padding-top:40px;}
.pt45{padding-top:45px;}
.pt50{padding-top:50px;}
/* padding right*/
.pr5{padding-right:5px}
.pr10{padding-right:10px}
.pr15{padding-right:15px}
.pr18{padding-right:18px}
.pr20{padding-right:20px}
.pr22{padding-right:22px}
.pr25{padding-right:25px}
.pr30{padding-right:30px}
.pr35{padding-right:35px}
.pr50{padding-right:50px}
/* padding left */
.pl5{padding-left:5px}
.pl10{padding-left:10px}
.pl15{padding-left:15px}
.pl20{padding-left:20px}
.pl22{padding-left:22px}
.pl25{padding-left:25px}
.pl27{padding-left:27px}
.pl30{padding-left:30px}
.pl40{padding-left:40px}
.pl50{padding-left:50px}
/* padding bottom */
.pb10{padding-bottom: 10px;}
.pb7{padding-bottom: 7px;}
.pb20{padding-bottom: 20px;}
.pb25{padding-bottom: 25px;}
.pb30{padding-bottom: 30px;}
.pb40{padding-bottom: 40px;}


/* LINES */

/* line under */
.lu{border-bottom: 1px solid #e6e6e6;}

/* TEXT DECORATION */
.bd{border-bottom: dotted;}
.ttu{text-transform: uppercase;}
.tdn{text-decoration: none;}
.ln{list-style: none;}
.bn{border: none;}

/*BORDER*/
.b0{border:0}
/*Border size*/
.bs100{background-size:100%}
/*border-radius*/
.br2{
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.br4{
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.br6{
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}
.br10{
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.br20{
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}
/*Outline*/
.oln{outline:none}

/*CURSOR*/
.cp{cursor: pointer;}

/*z-index*/
.zi1{z-index:1}
.zi2{z-index:2}
.zi10{z-index:10}
.zi100{z-index:100}

/*Box-Shadow*/
.bxs{
    -webkit-box-shadow: inset 0px 0px 2px 2px #ddd;
    -moz-box-shadow: inset 0px 0px 2px 2px #ddd;
    box-shadow: inset 0px 0px 2px 2px #ddd; 
   }
   
/*Text Shadow*/
.txs{text-shadow: 0px 1px #000}
