body, ul{
    margin: 0;
    padding: 0;
    font-family: "Arial", 'sans-serif';
}

a, a:hover, a:active{
    text-decoration: none;
    color: #585858;
}

.fOSC{
    font-family: 'Open Sans Condensed', sans-serif;
}

.outer_wrapper{
    width: 100%;
    border-top: 10px solid #363636;
}

.inner_wrapper{
    width: 1024px;
    margin: 0 auto;
}

.inner_wrapper_min{
    width: 992px;
    margin: 0 auto;
}


/* HEADER */
#header{
    margin-top: 15px;

}

.outer_wrapper.header{
    background: url("../images/header_bg.jpg") transparent;
}

#header .header_top{
    height: 65px;
}

div.top_logo{
    text-align: center;
}

div.header_inner{
    width: 84.5%;
}

div.top_menu ul li{
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

div.top_menu ul li a{
    display: inline-block;
    padding: 0 10px 0 8px;
    font-size: 12px;
    letter-spacing: -0.4px;
    border-right: 1px solid #e1e1e1;
    color: #585858;
}

div.top_menu li:first-child a{
    padding-left: 0;
}

div.top_menu li:last-child a{
    border-right: 0;
}

div.magazine{
    position: relative;
    margin-left: 3.3%;

}

div.magazine a{
    font-size: 13px;
    border-bottom: 1px solid #eeeeee;
    color: #585858;
}

div.magazine a span{
    text-transform: uppercase;
}

div.magazine:before{
    content: '';
    background: url("../images/magazine_line.png") no-repeat transparent;
    background-position: 0 0;
    display: block;
    width: 20px;
    height: 49px;
    position: absolute;
    left: -30px;
    top: -15px;
}

div.cabinet{
    font-size: 13px;
    color: #585858;
    position: relative;
    margin-left: 3%;
}

div.cabinet:before{
    content: '';
    display: block;
    width: 13px;
    height: 12px;
    position: absolute;
    background: url("../images/sprite_1.png") no-repeat transparent;
    left: -15px;
    top: 1px;
}

div.basket{
    font-size: 13px;
    color: #585858;
    border: 1px solid #eaeaea;
    border-radius: 50px;
    padding: 6px 5px 6px 20px;
    text-align: center;
    margin-top: -6px;
}

div.basket span.things_in_basket{
    position: relative;
    color: #ee9a00;
    padding-right: 5px;
    border-right: 1px solid #eaeaea;
}

div.basket span.things_in_basket:before{
    content: '';
    display: block;
    position: absolute;
    width: 13px;
    height: 12px;
    top: 1px;
    left: -15px;
    background: url("../images/sprite_1.png") no-repeat transparent;
    background-position: 0 -12px;
}

div.header_bottom{
    margin-bottom: 15px;
}

div.top_contacts span.city,
div.top_contacts a.callback {
    font-size: 12px;
    color: #585858;
    position: relative;
    margin-left: 15px;
    border-bottom: 1px dotted #585858;
    letter-spacing: -0.4px;
}

div.top_contacts span.phone {
    margin-left: 20px;
}

div.top_contacts span.city:before{
    content: '';
    display: block;
    position: absolute;
    width: 13px;
    height: 12px;
    left: -15px;
    top: 0;
    background: url("../images/sprite_1.png") no-repeat transparent;
    background-position: -13px 0;
}

div.search{
    position: relative;
    text-align: right;
}

div.search input[type=text]{
    padding: 9px 11px 9px 20px;
    border: 1px solid #eaeaea;
    font-style: italic;
    font-size: 13px;
    color: #949494;
    width: 230px;
    margin-right: 16px;
    margin-top: 0;
}

div.search input[type=submit]{
    position: absolute;
    right: 23px;
    top: 7px;
    margin-left: -30px;
    width: 23px;
    height: 22px;
    border: 0;
    background: url("../images/search.png") no-repeat transparent;
    cursor: pointer;
}

/* menu */
.menu_line{
    background: #363636;
}

.menu_line .menu{
    display: table;
    width: 100%;
}

.menu_line .menu > li{
    list-style: none;
    display: table-cell;
    vertical-align: middle;
    border-right: 1px solid #3b3b3b;
    border-left: 1px solid #323232;
    text-align: center;
}

.menu_line .menu > li > a{
    display: inline-block;
    padding: 17px 0;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 12px;
    width: 100%;
    letter-spacing: -0.5px;
}

.menu_line .menu > li:first-child{
    border-left: 0;
}
.menu_line .menu > li:last-child{
    border-right: 0;
}

.menu_line .menu > li:hover{
    background: linear-gradient(to bottom, #d3d3d3, #ffffff);
}

.menu_line .menu > li:hover > a{
    color: #000000;
    position: relative;
}

.menu_line .menu > li:hover > a:after{
    content: "";
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 3px;
    background: #ffffff;
    position: absolute;
    box-shadow: 0 -3px 2px -1px #e2e2e2;
}

/* menu 2-nd level */

.menu_line .menu_second{
    display: none;
    position: absolute;
    left: 0;
    top: 49px;
    width: 100%;
    box-shadow: 0 5px 5px #9c9c9c;
    background: #ffffff;
    z-index: 1;
    text-align: left;
}

.menu_line .menu_list{
    width: 35%;
}

.menu_line .menu_offers,
.menu_line .menu_banners{
    width: 32%;
}

.menu_line .menu > li:hover .menu_second{
    display: block;
    padding: 25px;
}

.menu_line .menu_second ul li{
    list-style: none;
    text-align: left;
}

.menu_line .menu_second ul li a{
    font-family: 'PFDinTextCompProLight', sans-serif;
    color: #625f5f;
    font-size: 18px;
    text-shadow: 0 0 1px #a6a3a3;
    display: inline-block;
    width: 100%;
    padding: 5px 0;
}

.menu_line .menu_second ul li:nth-last-child(2){
    margin-top: 15px;
}


.menu_offers .menu_offers_title a{
    font-family: 'PFDinTextCompProMedium', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
}

.menu_offers_block .item{
    width: 40%;
    /*display: inline-block;*/
    float: left;
    border: 1px solid #eaeaea;
    padding: 10px;
    text-align: center;
}

.menu_offers_block .item:hover{
    box-shadow: 0 0 5px #cccccc;
}

.menu_offers_block .item .item_top_rating span.stars{
background: url("../images/rating.png") no-repeat scroll 0 0 / 100% transparent;
    display: inline-block;
    width: 65px;
    height: 10px;
    cursor: pointer;
}

.menu_offers_block .item .item_top_rating span.estimate {
    color: #606366;
    font-family: 'Roboto',sans-serif;
    font-size: 10px;
}

.menu_offers_block .item .item_bottom .price {
    margin: 5px 0 !important;
}

.menu_offers_block .item .item_bottom .price .new_price {
    font-size: 12px !important;
}

.menu_offers_block .item .item_bottom .price .old_price {
    font-size: 11px;
}

.menu_offers_block .item .item_bottom .description{
    font-size: 12px;
}

.menu_offers_block .item:nth-child(n+2){
    float: right;
}

.menu_banners{
    text-align: right;
}

.menu_banners .menu_banner_item:nth-child(n+1){
    margin-top: 15px;
}

/* end menu 2-nd level */

/* social */
div.soc{
    text-align: right;

    padding-top: 14px;
    margin-right: 15px;
}

div.soc span{
    font-size: 15px;
    color: #363636;
    margin-right: 7px;
    letter-spacing: -0.5px;
}

div.soc a{
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url("../images/soc.png") no-repeat transparent;
    margin-bottom: -4px;
    margin-left: -4px;
}

div.soc a:first-child{
    margin-left: 0;
}

div.soc a.s_fb{
    background-position: -48px 0;
}

div.soc a.s_tw{
    background-position: -24px 0;
}
div.soc a.s_vk{
    background-position: 0 0;
}

div.slider{}

div.banner{
    box-shadow: -1px 2px 5px #e3e3e3;
}

div.banner a{
    display: inline-block;
    width: 100%;
}

/* CONTENT */
#content{
    
}

#content .items_block{
    position: relative;
}

#content .delimiter{
    margin-top: 30px;
    background: url("../images/delimiter_bg.png") repeat-x transparent;
}

#content .delimiter span.fOSC{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    background: #ffffff;
    margin-left: 20px;
    margin-top: -15px;
    padding: 0 15px;
}
.top_contacts > div,span.fOSC > div
{
    display:inline
}

#content .delimiter a.news_link{
    background: #ffffff;
    padding: 0 10px;
    color: #ff040c;
    text-decoration: underline;
    margin-left: -15px;
}

#content .delimiter span.list_item_controls{
    background: #ffffff;
    padding-right: 15px;
    margin-left: -15px;
}

#content .delimiter span.list_item_controls div.prev_btn,
#content .delimiter span.list_item_controls div.next_btn {
    background: url("../images/item_list_controls.png") no-repeat transparent;
    width: 17px;
    height: 16px;
    cursor: pointer;
}

#content .delimiter span.list_item_controls div.next_btn {
    margin-left: -5px;
    background-position: -16px 0;
}

.items_list{}

#content .bx-viewport {
    left: -5px;
    padding: 5px;
}

#content .items_block .bx-wrapper .bx-next,
#content .items_block .bx-wrapper .bx-prev {
    display: none;
}

.items_list .item{
    width: 23%;
    /*display: inline-block;*/
    float: left;
    border: 1px solid #eaeaea;
    padding: 10px;
}

.items_list .item:hover{
    box-shadow: 0 0 5px #e6e8ea;
}

.items_list .item .item_top,
.items_list .item .item_bottom .price{
    position: relative;
}

.items_list .item .item_top{
    border-bottom: 1px solid #eaeaea;
}

/*.items_list .item .item_top:after{*/
.items_list .item .label_spec{
    display: block;
    background: url("../images/label_spec.png")no-repeat transparent;
    width: 88px;
    height: 87px;
    position: absolute;
    top: -5px;
    left: -5px;
}

.items_list .item .item_top a{
    display: block;
    text-align: center;
}



.items_list .item .item_bottom{
    min-height: 130px;
    max-height: 130px;
}

.items_list .item .item_bottom .price{
    margin: 15px 0;
}

.items_list .item .item_bottom .price .old_price{
    text-decoration: line-through;
    font-style: italic;
}
.items_list .item .item_bottom .price .new_price{
    color: #eb0f0f;
    font-size: 20px;
    font-weight: 800;
    font-style: italic;
}

.items_list .item .item_bottom .price .label_sale{
    position: absolute;
    right: -15px;
    top: -20px;
    display: block;
    background: url("../images/label_sale.png")no-repeat transparent;
    width: 49px;
    height: 25px;
    font-style: italic;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.items_list .item .item_bottom .description{
    font-family: 'Roboto', sans-serif;
    color: #1b2127;
}

.items_list .item .label_hit,
.items_list .item .label_new {
    background: url("../images/label_hit.png") no-repeat transparent;
    width: 48px;
    height: 48px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.items_list .item .label_new{
    background: url("../images/label_new.png") no-repeat transparent;              
}

/* news */

div.fat_delimiter{
    border-bottom: 10px solid #eeeeee;
}

div.news_el{
    min-height: 243px;
    max-height: 243px;
}

div.news_el div.news_el_img{
    text-align: center;
    width: 33%;
}

div.news_el div.news_el_img a{
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

div.news_el div.news_el_img img{
    border-radius: 50%;
    overflow: hidden;
}

div.news_el div.news_el_data{
    width: 62.5%;
}

div.news_el .news_title{
    font-size: 19px;
    line-height: 20px;
    font-weight: 600;
    margin: 0;
    margin-top: -5px;
    letter-spacing: -0.14px;
}

div.news_el .news_title a{
    color: #2f2d2d;
}

div.news_el .news_text{
    font-size: 13px;
    color: #625f5f;
    margin: 11px 0 -4px;
    letter-spacing: -0.1px;
    line-height: 18px;
}

div.news_el .news_date{
    font-size: 13px;
    font-style: italic;
    letter-spacing: -0.2px;
}

/* experts */
div.experts{
    margin-top: 40px;
    border: 1px solid #cfcfcf;
    padding: 10px;
    text-align: center;
}

div.experts > span{
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #625f5f;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

div.experts .expert_item{
    border-bottom: 1px dotted #dbdbdb;
    padding-bottom: 5px;
}

div.experts div.expert_img{
    background: #ffffff;
    position: relative;
    overflow: hidden;
}

div.experts div.expert_img:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: url("../images/experts_b.png") no-repeat transparent;
}

div.experts div.expert_data{
    text-align: left;
}

div.experts p.expert_name{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
}

div.experts p.expert_prof{
    font-size: 12px;
    color: #999999;
}

div.experts div.expert_cite{
    text-align: left;
}

div.experts div.expert_cite span{
    font-style: italic;
    font-size: 12px;
}

div.experts div.expert_cite a{
    text-decoration: underline;
    text-transform: uppercase;
    color: #ff040c;
    font-size: 11px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}

div.experts .all_experts{
    text-align: right;
    margin: 0;
}

div.experts .all_experts > a{
    text-transform: uppercase;
    text-decoration: underline;
    font-style: italic;
    color: #000000;
    font-size: 11px;
    font-family: 'Roboto', sans-serif;
}

/* magazine */
div.magazine_block{
    margin-top: 15px;
    text-align: center;
}

div.magazine_block > div{
    margin: 0 5px;
}

div.magazine_block > div.magazine_block_description > a{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #2f2d2d;
    float: left;
    font-weight: 500;
}

div.magazine_block > div.magazine_block_description > span{
    font-size: 9px;
    float: right;
    line-height: 20px;
    color: #625f5f;
    font-family: 'Roboto', sans-serif;
}

div.magazine_block > div.magazine_block_btn{

}

/* brands */
#content div.brands_slider{
    margin: 40px 0;
}

#content div.brands_slider .bx-viewport{
    background: #eeeeee;
    padding: 0 5px;
}

#content .brands_slider .bx-wrapper .bx-prev{
    left: -5px;
    top: 16px;
    background: url("../images/brands_controls.png") no-repeat scroll 0 0 transparent;
    width: 20px;
    height: 100px;
}

#content .brands_slider .bx-wrapper .bx-next{
    right: -5px;
    top: 16px;
    background: url("../images/brands_controls.png") no-repeat scroll -20px 0 transparent;
    width: 20px;
    height: 100px;
}

/* last order city */

#content div.last_order_city{
    margin: 20px auto;
}

#content div.last_order_city p{
    background: #dee1e2;
    padding: 20px 5px;
    letter-spacing: -0.1px;
    color: #625f5f;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
}

#content div.last_order_city a{
    color: #ff040c;
    border-bottom: 1px dotted #ff040c;
    margin: 0 10px;
    text-transform: capitalize;
    letter-spacing: 0.1px;
}

/* about */
#content div.about{
    width: 70%;
    margin: 1%;
}

#content div.about .big_title{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase;
    margin: 15px 0;
}

#content div.text p{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #2f2d2d;
    margin: 5px 0;
}

/* tabs */
#content div.tabs{
    width: 25.8%;
    border: 1px solid #cfcfcf;
    background: #e6e6e6;
    padding: 1%;
}

#content div.tabs > span{
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    display: inline-block;
    padding: 5px 15px;
    cursor: pointer;
}
#content div.tabs > span:last-child{
    clear: both;
}

#content div.tabs > span.active{
    background: #ffffff;
}

#content div.tabs div.tabs_content > div{
    display: none;
}

#content div.tabs div.tabs_content > div.active{
    display: block;
    background: #ffffff;
    margin: 0 auto;
    padding: 5px;
    margin-right: 1px;
}

/* footer */
#footer{
    border-top: 1px solid #c0c0c0;
    background: linear-gradient(to top, #4d4d4d, #424242 );
    padding: 20px 0;
}

#footer .footer_menu .dib {
    vertical-align: top;
    margin: 0 15px;
}

#footer .footer_menu .dib > p{
    border-bottom: 1px solid #383838;
    margin: 0 0 5px -10px;
    padding-bottom: 10px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #ffffff;
    font-size: 22px;
    text-transform: uppercase;
}

#footer .footer_menu .dib li{
    list-style: none;
    margin-left: -6px;
    height: 26px;
}

#footer .footer_menu .dib:first-child li{
    margin-left: -10px;
}

#footer .footer_menu .dib li a{
    color: #cccccc;
    font-size: 12px;
    letter-spacing: -0.3px;
}

/* bottom */
div.footer_bottom{
    background: #252525;
    padding: 15px;
}

div.footer_bottom .footer_bottom_fline{
    border-bottom: 1px solid #353535;
    padding: 4px 0 24px;
}

/* share */

.footer_shared a{
    display: inline-block;
    background: url("../images/footer_share.png") no-repeat transparent;
    width: 30px;
    height: 29px;
    margin: 0 -3px;
}

.footer_shared a.fb{
    background-position: 0 0;
}

.footer_shared a.tw{
    background-position: -29px 0;
}
.footer_shared a.yt{
    background-position: -58px 0;
}

.footer_shared a.rss{
    background-position: -87px 0;
}

/* subscribe */

.subscribe input[type=text]{
    background: linear-gradient(to bottom, #2e2e2e, #3a3a3a);
    border-width: 1px;
    border-style: solid;
    border-color: #282828 #292929 #343434 #292929;
    padding: 0 10px;
    height: 30px;
    font-size: 14px;
    color: #949494;
    width: 170px;
}

.subscribe input[type=submit]{
    background: linear-gradient(to bottom, #3f3f3f, #303030);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #cccccc;
    border-width: 1px;
    border-style: solid;
    border-color: #2e2e2e #2f2f2f #2c2c2c #2a2a2a;
    padding: 9px 15px 6px;
    margin-left: -5px;
    cursor: pointer;
    font-size: 10px;
}

.subscribe input[type=submit]:hover{
    background: linear-gradient(to bottom, #535353, #3c3c3c);
}


.subscribe input[type=submit]:active{
    background: linear-gradient(to bottom, #4a4a4a, #313131);
}

/* order_status */
.order_status{
    position: relative;
}


div.order_status input[type=text]{
    padding: 0 5px 0 30px;
    height: 30px;
    font-size: 14px;
    color: #949494;
    width: 230px;
    margin-right: 16px;
    margin-top: 0;
    background: linear-gradient(to bottom, #2c2c2c, #383838);
    border-width: 1px;
    border-style: solid;
    border-color: #272727 #2f2f2f #323232 #292929;
}

div.order_status input[type=submit]{
    position: absolute;
    right: 21px;
    top: 6px;
    margin-left: -30px;
    width: 23px;
    height: 22px;
    border: 0;
    background: url("../images/order_status.png") no-repeat transparent;
    cursor: pointer;
}

.footer_bottom_sline{
    padding-top: 20px;
}

/* text line */
.text_line{
    color: #949494;
    font-size: 12px;
}

.text_line a{
    color: #949494;
    text-decoration: underline;
}

/* pay systems */
.pay_systems{

}

.pay_systems a{
    display: inline-block;
    margin: 0 7px;
}

/*Rating stars*/
.items_list .item .item_top_rating span.stars{
    background: url("../images/stars.png") no-repeat transparent;
    display: inline-block;
    width: 82px;
    height: 13px;
    cursor: pointer;
}

.items_list .item .item_top_rating span.estimate{
    color: #606366;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}
.star0
{
    background-position:0px 0px;
}
.star1
{
    background-position:0px -13px!important;
}
.star2
{
    background-position:0px -26px!important;
}
.star3
{
    background-position:0px -39px!important;
}
.star4
{
    background-position:0px -52px!important;
}
.star5
{
    background-position:0px -65px!important;
}
.rating_line{
    width:100%;
    height:15px;
    margin-top:3px;
    font-size:9px;
    background:#9C9C9C;
}
.rating_line div
{
    height:15px;
    background:#FFAA04;
}
.item_top_rating
{
    position:relative
}
.show_rating
{
    width:200px;
    position:absolute;
    top:20px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index:10;
    padding:5px;
    display:none
}