div.beono-banner_slider {
	width: 100%;
	height: 300px;
	overflow: hidden;
	position: relative;
        margin:0 auto
}

div.beono-banner_slider a {
	outline: none;
}

div.beono-banner_slider-wrapper {
	position: relative;
}

div.beono-banner_slider-item {
	position: absolute;
	top: 0px;
	left: 0px;
}

div.beono-banner_slider-pager {
	overflow: visible;
	position: absolute;	
	z-index: 1;
}

div.beono-banner_slider-pager a {
	-webkit-transition:opacity 0.2s;
	-o-transition:opacity 0.2s;
	transition:opacity 0.2s;
}

div.beono-banner_slider_pager_text div.beono-banner_slider-pager,
div.beono-banner_slider_pager_digits div.beono-banner_slider-pager {
	margin-right: -10px;
	margin-bottom: -10px;
}

*:first-child+html div.beono-banner_slider-pager {
	margin-bottom: 0px;
}

div.beono-banner_slider_pager_text.beono-banner_slider_pager_top_left div.beono-banner_slider-pager,
div.beono-banner_slider_pager_digits.beono-banner_slider_pager_top_left div.beono-banner_slider-pager {
	top: 10px;
	left: 10px;
}

div.beono-banner_slider_pager_text.beono-banner_slider_pager_top_right div.beono-banner_slider-pager,
div.beono-banner_slider_pager_digits.beono-banner_slider_pager_top_right div.beono-banner_slider-pager {
	top: 10px;
	right: 10px;
}

div.beono-banner_slider_pager_text.beono-banner_slider_pager_bottom_left div.beono-banner_slider-pager,
div.beono-banner_slider_pager_digits.beono-banner_slider_pager_bottom_left div.beono-banner_slider-pager {
	bottom: 10px;
	left: 10px;
}

div.beono-banner_slider_pager_text.beono-banner_slider_pager_bottom_right div.beono-banner_slider-pager,
div.beono-banner_slider_pager_digits.beono-banner_slider_pager_bottom_right div.beono-banner_slider-pager {
	bottom: 10px;
	right: 10px;
}

div.beono-banner_slider_pager_text div.beono-banner_slider-pager a,
div.beono-banner_slider_pager_digits div.beono-banner_slider-pager a {
	display: block;
	color: #000;
	background: #fff;
	padding: 4px 8px;	
	text-decoration: none;	
	margin-right: 10px;
	margin-bottom: 10px;	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

div.beono-banner_slider-pager a.active:hover {
	cursor: default;
}

div.beono-banner_slider_pager_text div.beono-banner_slider-pager a.active,
div.beono-banner_slider_pager_digits div.beono-banner_slider-pager a.active {
	cursor: default;
	color: #fff;
	background: #000;
	text-decoration: none;
}

/* + bulls */
div.beono-banner_slider_pager_bulls div.beono-banner_slider-pager-inner {
	border-radius: 16px;
	display: block;
	overflow: hidden;
}
div.beono-banner_slider_pager_bulls.beono-banner_slider_pager_top_left div.beono-banner_slider-pager {
	top: 10px;
	left: 10px;
}

div.beono-banner_slider_pager_bulls.beono-banner_slider_pager_top_right div.beono-banner_slider-pager {
	top: 10px;
	right: 10px;
}

div.beono-banner_slider_pager_bulls.beono-banner_slider_pager_top_center div.beono-banner_slider-pager {
	top: 10px;
	left: 50%;	
}

div.beono-banner_slider_pager_bulls.beono-banner_slider_pager_top_center div.beono-banner_slider-pager-inner,
div.beono-banner_slider_pager_bulls.beono-banner_slider_pager_bottom_center div.beono-banner_slider-pager-inner {
	left: -50%;
	position: relative;
}

div.beono-banner_slider_pager_bulls.beono-banner_slider_pager_bottom_left div.beono-banner_slider-pager {
	bottom: 10px;
	left: 10px;
}

div.beono-banner_slider_pager_bulls.beono-banner_slider_pager_bottom_center div.beono-banner_slider-pager {
	bottom: 32px;
	left: 50%;	
}

div.beono-banner_slider_pager_bulls.beono-banner_slider_pager_bottom_right div.beono-banner_slider-pager {
	bottom: 10px;
	right: 10px;
}

div.beono-banner_slider_pager_bulls div.beono-banner_slider-pager a {
    background: #000000;
    width: 11px;
    height: 11px;
    margin: 0 8px 0 9px;
    border-radius:16px
}

div.beono-banner_slider_pager_bulls div.beono-banner_slider-pager a:hover {
    background: none repeat scroll 0 0 #FEA90E;
    box-shadow: 2px 1px 3px -3px #000000 inset;
    border-radius:16px
}

div.beono-banner_slider_pager_bulls div.beono-banner_slider-pager a.active,
div.beono-banner_slider_pager_bulls div.beono-banner_slider-pager a.active:hover {
    background: none repeat scroll 0 0 #FEA90E;
    box-shadow: 2px 1px 3px -3px #000000 inset;
      border-radius:16px
}

div.beono-banner_slider_pager_bulls div.beono-banner_slider-pager a.active {
    background: none repeat scroll 0 0 #FEA90E;
    box-shadow: 2px 1px 3px -3px #000000 inset;
    border-radius:16px
}

/* - bulls */

/* + arrows */

div.beono-banner_slider_pager_arrows div.beono-banner_slider-pager {	
	overflow: visible;
	width: 100%;
	height: 0px;
	top: 50%;
	margin-top: -32px;
}

div.beono-banner_slider_pager_arrows div.beono-banner_slider-pager-inner {
	width: 100%;
	height: 0px;
}

div.beono-banner_slider_pager_arrows div.beono-banner_slider-pager a {
	display: none;
	width: 64px;
	height: 64px;
	text-decoration: none;
	opacity: 0.7;	
	filter: alpha(opacity=70);
}

div.beono-banner_slider_pager_arrows div.beono-banner_slider-pager a:hover {
	opacity: 1.0;
	filter: alpha(opacity=100);
}

div.beono-banner_slider_pager_arrows div.beono-banner_slider-pager a:active {
	opacity: 0.7;	
	filter: alpha(opacity=70);
}

div.beono-banner_slider_pager_arrows div.beono-banner_slider-pager a.prev {	
	background: url('./images/prev-rounded.png') center center no-repeat;
	display: block;
	float: left;
	margin-left: 10px;
}
div.beono-banner_slider_pager_arrows div.beono-banner_slider-pager a.next {
	background: url('./images/next-rounded.png') center center no-repeat;
	display: block;
	float: right;
	margin-right: 10px;
}

/* - arrows */

/* + arrows_edge */

div.beono-banner_slider_pager_arrows_edge div.beono-banner_slider-pager {	
	overflow: visible;
	width: 100%;
	height: 0px;
	top: 50%;
	margin-top: -24px;
}

div.beono-banner_slider_pager_arrows_edge div.beono-banner_slider-pager-inner {
	width: 100%;
	height: 0px;
}

div.beono-banner_slider_pager_arrows_edge div.beono-banner_slider-pager a {
	width: 40px;
	height: 48px;
	text-decoration: none;
	opacity: 0.7;	
	filter: alpha(opacity=70);
}

div.beono-banner_slider_pager_arrows_edge div.beono-banner_slider-pager a:hover {	
	opacity: 1;
	filter: alpha(opacity=100);
}

div.beono-banner_slider_pager_arrows_edge div.beono-banner_slider-pager a:active {
	opacity: 0.7;	
	filter: alpha(opacity=70);
}

div.beono-banner_slider_pager_arrows_edge div.beono-banner_slider-pager a.prev {	
	background: #000 url('./images/prev-rounded.png') center center no-repeat;
	display: block;
	float: left;
	margin-left: 0px;	
	border-radius: 0 3px 3px 0;
}
div.beono-banner_slider_pager_arrows_edge div.beono-banner_slider-pager a.next {
	background: #000 url('./images/next-rounded.png') center center no-repeat;
	display: block;
	float: right;
	margin-right: 0px;	
	border-radius: 3px 0 0 3px;
}

/* - arrows_edge */

/* + thumbs */

div.beono-banner_slider-wrapper {
	width: 100%;
	height: 100%;
}

div.beono-banner_slider_pager_thumbs div.beono-banner_slider-item p {
	position: absolute;
	background: #fff;
	border-radius: 3px;
	padding: 3px 6px;
	opacity: 0.9;
	filter: alpha(opacity=90);
	margin: 10px;
}

div.beono-banner_slider_pager_thumbs.beono-banner_slider_pager_right div.beono-banner_slider-item p {
	top: 0px;
	left: 0px;
	margin-right: 120px;
}

div.beono-banner_slider_pager_thumbs.beono-banner_slider_pager_left div.beono-banner_slider-item p {
	top: 0px;
	right: 0px;
	margin-left: 120px;
}

div.beono-banner_slider_pager_thumbs.beono-banner_slider_pager_bottom div.beono-banner_slider-item p {
	top: 0px;
	left: 0px;
}

div.beono-banner_slider_pager_thumbs div.beono-banner_slider-item p a {
	font-size: 20px;
}


div.beono-banner_slider_pager_thumbs div.beono-banner_slider-pager-inner {
	padding: 10px 0px 1px 10px;
	overflow: hidden;
	font-size:0px;
}

div.beono-banner_slider_pager_thumbs.beono-banner_slider_pager_left div.beono-banner_slider-pager {
	top: 0px;
	left: 0px;
}

div.beono-banner_slider_pager_thumbs.beono-banner_slider_pager_right div.beono-banner_slider-pager {
	top: 0px;
	right: 0px;
}

div.beono-banner_slider_pager_thumbs.beono-banner_slider_pager_bottom div.beono-banner_slider-pager {
	bottom: 0px;
	left: 0px;
	width:100%;
}

div.beono-banner_slider_pager_thumbs.beono-banner_slider_pager_bottom div.beono-banner_slider-pager-inner {
	overflow: hidden;
	white-space: nowrap;
	position: relative;
	text-align: center;
}

div.beono-banner_slider_pager_thumbs div.beono-banner_slider-pager a {
	display: block;
	text-decoration: none;	
	margin: 0px 10px 10px 0px;
}

div.beono-banner_slider_pager_thumbs.beono-banner_slider_pager_bottom div.beono-banner_slider-pager a {
	display: inline-block;
}

div.beono-banner_slider_pager_thumbs div.beono-banner_slider-pager a img {
	border: 1px solid #000;
}

div.beono-banner_slider_pager_thumbs div.beono-banner_slider-pager a:hover img {
	opacity: 0.8;
}

div.beono-banner_slider_pager_thumbs div.beono-banner_slider-pager a:active img {
	opacity: 0.7;
}

div.beono-banner_slider_pager_thumbs div.beono-banner_slider-pager a.active img {
	opacity: 0.7;
	border: 1px solid #fff;
}

/* - thumbs */

/* + amazon */

img.beono-banner_slider-cursor {
	position:absolute;
	z-index:1;
	left: -270px;
}

div.beono-banner_slider_pager_amazon div.beono-banner_slider-pager {
	position: relative;
	background: #fff;
	width: 100%;	
}

div.beono-banner_slider_pager_amazon div.beono-banner_slider-pager-inner {
	padding: 10px 0px 10px 0px;
}

div.beono-banner_slider_pager_amazon div.beono-banner_slider-pager-inner a {
	margin-right: 20px;
	color: #666;
	text-decoration: none;
}

div.beono-banner_slider_pager_amazon div.beono-banner_slider-pager-inner a:hover {
	color: #444;
}

div.beono-banner_slider_pager_amazon div.beono-banner_slider-pager-inner a.active {
	color: #EE9000;
}

/* - amazon */

div.beono-banner_slider_pager_text.beono-banner_slider_pager_horizontal div.beono-banner_slider-pager a,
div.beono-banner_slider_pager_digits.beono-banner_slider_pager_horizontal div.beono-banner_slider-pager a,
div.beono-banner_slider_pager_bulls.beono-banner_slider_pager_horizontal div.beono-banner_slider-pager a {
	float: left;
}