/* menu */
.menu_line{
    background: #363636;
}

.menu_line .inner_wrapper_min{
    position: relative;
}

.menu_line .menu{
    display: table;
    width: 100%;
}

.menu_line .menu > li{
    list-style: none;
    display: table-cell;
    vertical-align: middle;
    border-right: 1px solid #3b3b3b;
    border-left: 1px solid #323232;
    text-align: center;
}

.menu_line .menu > li > a{
    display: inline-block;
    padding: 17px 0;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 12px;
    width: 100%;
    letter-spacing: -0.5px;
}

.menu_line .menu > li:first-child{
    border-left: 0;
}
.menu_line .menu > li:last-child{
    border-right: 0;
}

.menu_line .menu > li:hover{
    background: linear-gradient(to bottom, #d3d3d3, #ffffff);
}

.menu_line .menu > li:hover > a{
    color: #000000;
    position: relative;
}

.menu_line .menu > li:hover > a:after{
    content: "";
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 3px;
    background: #ffffff;
    position: absolute;
    box-shadow: 0 -3px 2px -1px #e2e2e2;
}

/* menu 2-nd level */

.menu_line .menu_second{
    display: none;
    position: absolute;
    left: 0;
    top: 49px;
    width: 100%;
    box-shadow: 0 5px 5px #9c9c9c;
    background: #ffffff;
    z-index: 1;
    text-align: left;
}

.menu_line .menu_list{
    width: 35%;
}

.menu_line .menu_offers,
.menu_line .menu_banners{
    width: 32%;
}

.menu_line .menu > li:hover .menu_second{
    display: block;
    padding: 25px;
}

.menu_line .menu_second ul li{
    list-style: none;
    text-align: left;
}

.menu_line .menu_second ul li a{
    font-family: 'PFDinTextCompProLight', sans-serif;
    color: #625f5f;
    font-size: 18px;
    text-shadow: 0 0 1px #a6a3a3;
    display: inline-block;
    width: 100%;
    padding: 5px 0;
}

.menu_line .menu_second ul li:nth-last-child(2){
    margin-top: 15px;
}


.menu_offers .menu_offers_title a{
    font-family: 'PFDinTextCompProMedium', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
}

.menu_offers_block .item{
    width: 40%;
    /*display: inline-block;*/
    float: left;
    border: 1px solid #eaeaea;
    padding: 10px;
    text-align: center;
}

.menu_offers_block .item:hover{
    box-shadow: 0 0 5px #cccccc;
}

.menu_offers_block .item .item_top_rating span.stars{
background: url("images/stars.png") no-repeat scroll 0 0 / 100% transparent;
    display: inline-block;
    width: 65px;
    height: 10px;
    cursor: pointer;
}

.menu_offers_block .item .item_top_rating span.estimate {
    color: #606366;
    font-family: 'Roboto',sans-serif;
    font-size: 10px;
}

.menu_offers_block .item .item_bottom .price {
    margin: 5px 0 !important;
}

.menu_offers_block .item .item_bottom .price .new_price {
    font-size: 12px !important;
}

.menu_offers_block .item .item_bottom .price .old_price {
    font-size: 11px;
}

.menu_offers_block .item .item_bottom .description{
    font-size: 12px;
}

.menu_offers_block .item:nth-child(n+2){
    float: right;
}

.menu_banners{
    text-align: right;
}

.menu_banners .menu_banner_item:nth-child(n+1){
    margin-top: 15px;
}

/* end menu 2-nd level */

/*Small rating*/

.small.star0
{
    background-position:0px 0px;
}
.small.star1
{
    background-position:0px -10px!important;
}
.small.star2
{
    background-position:0px -21px!important;
}
.small.star3
{
    background-position:0px -31px!important;
}
.small.star4
{
    background-position:0px -41px!important;
}
.small.star5
{
    background-position:0px -51px!important;
}